 @page
@model adminModel
@using LibraryDatabase
@{
    Layout = "./Shared/_adminLayout";
    int i = 0;
}
<table class="table table-dark">
    <thead class="table-dark">
        <tr class="table-dark">
        <th>شماره</th>
        <th>اسم کتاب</th>
        <th>نویسنده</th>
        <th>ژانر</th>
        <th>توضیحات</th>
        <th>موجودی</th>
        <th>آخرین تاریخ امانت</th>
        </tr>
    </thead>
    <tbody class="table-dark">
        @foreach(var book in Model.books)
        {
            i++;
            <tr class="table-dark">
                <td>@i</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Genre</td>
                <td>@book.Description</td>
                @if(book.Availabale == true)
                {
                    <td>موجود</td>
                }
                @if(book.Availabale == false)
                {
                    <td>ناموجود</td>
                }
                <td>@book.LastBorrowdate</td>
            </tr>
        }
    </tbody>
</table>
