@page
@model RazorPage.Pages.UserModel
@{
    Layout = "_normaluserLayout";
}
    @if(TempData["Message"] != null)
    {
           <script type="text/javascript">  
            window.onload = function () {  
                alert("Welcome @Request.Cookies["Email"].Replace("@gmail.com",string.Empty)");  
            };  
        </script>
    }
      @if(TempData["Limit"] != null)
    {
           <script type="text/javascript">  
            window.onload = function () {  
                alert("@TempData["Limit"]");  
            };  
        </script>
    }
     @if(ViewData["SearchResult"] != null)
    {
           <script type="text/javascript">  
            window.onload = function () {  
                alert("@ViewData["SearchResult"]");  
            };  
        </script>
    }
    <form method="post">
<table class="table table-dark">
    <thead class="table-dark">
        <tr class="table-dark">
        <th>آی دی کتاب</th>
        <th>اسم کتاب</th>
        <th>نویسنده</th>
        <th>ژانر</th>
        <th>توضیحات</th>
        <th>موجودی</th>
        <th>آخرین تاریخ امانت</th>
        <th>انتخاب برای امانت</th>
        </tr>
    </thead>
    <tbody class="table-dark">
        @foreach(var book in Model.books)
        {
            
            <tr class="table-dark">
                <td>@book.BooksId</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Genre</td>
                <td>@book.Description</td>
                @if(book.Availabale == true)
                {
                    <td>موجود</td>
                    <td>@book.LastBorrowdate</td>
                    <td><input type="checkbox" class="fs-6" name="Ids" value="@book.BooksId"/></td>
                }
                @if(book.Availabale == false)
                {
                    <td>ناموجود</td>
                    <td>@book.LastBorrowdate</td>
                }
            </tr>
        }
    </tbody>
</table>
<nav class="navbar fixed-bottom navbar-light bg-light justify-content-center">
<input type="submit" class="btn-primary btn" value="افزودن کتاب ها"/>
</nav>
</form>